<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="flowVideoTask.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="flowVideo" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd prompt-content">
                        <span style="color: #000;">支持站点：
                            【 优酷、乐视、搜狐自媒体视频、腾讯视频、爱奇艺、第一视频、视友网、土豆网、新浪网、56视频、酷6视频、
                        PPS视频、凤凰视频、激动网、华数视频、西柚网、爱拍视频、acfun、酷6视频、哔哩哔哩、17173、今日头条阅读量、
                        优酷【点赞】、百度知道、腾讯视频【点赞】、美拍点赞、美拍关注、第一视频、新浪博客、秒拍流量、美拍流量 】</span> <br/><br/>
                        <span class="tips">价格说明：初始10000流量起步执行，不足10000按10000算，超过部分按照1000来算，不足1000按1000计算。</span>
                    </div>
                </div>

                <validator name="forumFlow">
                    <form class="am-form am-form-horizontal" method="post" action="/flow/videoTask">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label for="taskAddress" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>目标地址</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="taskAddress" class="am-radius am-input-sm" type="text" placeholder="请填写任务地址" name="address"
                                       v-validate:address="{required: true, isaddress: true}" v-model="address" @change="getPrice">
                                <span class="tips" v-if="$forumFlow.address.required">任务地址不能为空!</span>
                                <span class="tips" v-if="$forumFlow.address.isaddress">请填写合法的地址!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">￥ {{price}}/1000</p>
                                <input type="hidden" name="name" value="{{name}}">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="readNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务数量</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="readNum" class="am-radius am-input-sm" type="text"
                                       placeholder="初始10000流量起步执行，不足10000按10000算，超过部分按照1000来算，不足1000按1000计算"
                                       v-model="num" name="num"
                                       v-validate:num="{required: true, isnum: true, maxprice: true}">
                                <span class="tips" v-if="$forumFlow.num.required">需要添加的阅读数量不能为空!</span>
                                <span class="tips" v-if="$forumFlow.num.isnum">数量必须为正整数!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <span class="disable">￥ {{totalPrice}}</span>
                                <span class="tips" v-if="$forumFlow.num.maxprice">您的余额不足，请充值!</span>
                                <input type="hidden" v-model="funds" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                <button type="submit" class="am-btn am-btn-primary am-radius" v-if="$forumFlow.valid">提交任务</button>
                            </div>
                        </div>
                    </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

<script>
    require('flowVideoTask');
</script>

</body>
</html>