
<link rel="stylesheet" href="adminMenuContent.scss?__inline">


<section data-am-widget="accordion" class="am-accordion am-accordion-gapped adminMenuContent" data-am-accordion='{  }'>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            人工任务管理
            <span class="tips waitHT complaintHT"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/handle/task/wait">待发布任务 <span class="tips updateNum waitHT"></span> </a></li>
                    <li><a href="/admin/handle/task/already">执行中任务</a></li>
                    <li><a href="/admin/handle/task/error">已退款任务</a></li>
                    <li><a href="/admin/handle/task/complete">已完结任务</a></li>
                    <li><a href="/admin/handle/task/complaint">被投诉未处理 <span class="tips updateNum complaintHT"></span> </a></li>
                    <li><a href="/admin/handle/task/complaint/alre">被投诉已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            回复任务管理
            <span class="tips reply"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/reply/wait">待处理 <span class="tips updateNum reply"></span> </a></li>
                    <li><a href="/admin/reply/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            流量任务管理
            <span class="tips flow"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/flow/wait">待处理 <span class="tips updateNum flow"></span> </a></li>
                    <li><a href="/admin/flow/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            微信任务管理
            <span class="tips wxArticle wxLikeQuick wxLike wxComment wxReply wxFriend wxCode"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/WX/like/quick/wait">待处理阅读点赞快速任务 <span class="tips updateNum wxLikeQuick"></span> </a></li>
                    <li><a href="/admin/WX/like/quick/already">已处理阅读点赞快速任务</a></li>
                    <li><a href="/admin/WX/like/wait">待处理阅读点赞任务 <span class="tips updateNum wxLike"></span> </a></li>
                    <li><a href="/admin/WX/like/already">已处理阅读点赞任务</a></li>
                    <li><a href="/admin/WX/comment/wait">待处理图文评论任务 <span class="tips updateNum wxComment"></span> </a></li>
                    <li><a href="/admin/WX/comment/already">已处理图文评论任务</a></li>
                    <li><a href="/admin/WX/reply/wait">待处理公众粉丝回复任务 <span class="tips updateNum wxReply"></span> </a></li>
                    <li><a href="/admin/WX/reply/already">已处理公众粉丝回复任务</a></li>
                    <li><a href="/admin/WX/friend/wait">待处理个人好友任务 <span class="tips updateNum wxFriend"></span> </a></li>
                    <li><a href="/admin/WX/friend/already">已处理个人好友任务</a></li>
                    <!--<li><a href="/admin/WX/code/wait">待处理扫码关注<span class="tips updateNum wxCode"></span> </a></li>-->
                    <!--<li><a href="/admin/WX/code/already">已处理扫码关注</a></li>-->
                    <!--<li><a href="/admin/WX/article/wait">待处理原文任务 <span class="tips updateNum wxArticle"></span> </a></li>-->
                    <!--<li><a href="/admin/WX/article/already">已处理原文任务</a></li>-->
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            美拍任务管理
            <span class="tips mp"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/MP/wait">待处理 <span class="tips updateNum mp"></span> </a></li>
                    <li><a href="/admin/MP/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            微博任务管理
            <span class="tips wb"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/WB/wait">待处理 <span class="tips updateNum wb"></span> </a></li>
                    <li><a href="/admin/WB/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            错误信息管理
            <span class="tips error"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/error/wait">待处理 <span class="tips updateNum error"></span> </a></li>
                    <li><a href="/admin/error/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

    <dl class="am-accordion-item">
        <dt class="am-accordion-title title">
            问题反馈信息管理
            <span class="tips feedback"> * </span>
        </dt>
        <dd class="am-accordion-bd am-collapse ">
            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
            <div class="am-accordion-content">
                <ul class="list">
                    <li><a href="/admin/feedback/wait">待处理 <span class="tips updateNum feedback"></span> </a></li>
                    <li><a href="/admin/feedback/already">已处理</a></li>
                </ul>
            </div>
        </dd>
    </dl>

</section>

<script src="/socket.io/socket.io.js"></script>
