th{
  text-align: center;
}

.priceFlow{
  padding-top: 12px;
  input{
    text-align: center;
  }
  select{
    margin: 0;
    padding: .28em;
  }
  img{
    width: 130px;
    height: 40px;
  }
  .imgWrap {
    position: relative;
    width: 130px;
    height: 40px;
    padding: 0;
    margin: 0;
    a{
      cursor: pointer;
      position: absolute;
      bottom: -4px;
      right: 2px;
      color: #000;
    }
  }
  .text-break {
    color: #000;
    display: inline-block;
    max-width: 100px;
    cursor: pointer;
  }
}
