th{
  text-align: center;
}


.title-text, .title-url{
  line-height: 11px;
}

.operation{
  margin-bottom: 2px;
}

.text-break {
  color: #000;
  display: inline-block;
  max-width: 120px;
  cursor: pointer;
}