<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminWXcommentWait.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal am-text-center">

                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover am-text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>下单日期</th>
                            <th>地址</th>
                            <th>标题</th>
                            <th>评论内容</th>
                            <th>评论数量</th>
                            <th>价格</th>
                            <th>返利</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < orders.length; i++){ %>
                        <tr>
                            <td class="am-text-middle"><%= i + 1 %></td>
                            <td class="am-text-middle"><%= orders[i].user %></td>
                            <td class="am-text-middle"><%= orders[i].createTime %></td>
                            <td class="am-text-middle">
                                <input type="text" value="<%= orders[i].address %>" style="width: 56px;"><br/>
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= orders[i].address %>"
                                   data-clipboard-text="<%= orders[i].address %>">复制</a>
                            </td>
                            <td class="am-text-middle">
                                <a class="am-text-truncate text-break" title="<%= orders[i].title %>">
                                    <%= orders[i].title %>
                                </a>
                            </td>
                            <td class="am-text-middle">
                                <input type="text" value="<%= orders[i].content %>" style="width: 56px;"><br/>
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= orders[i].content %>"
                                   data-clipboard-text="<%= orders[i].content %>">复制</a>
                            </td>
                            <td class="am-text-middle">
                                <%= orders[i].num %> / 条
                            </td>
                            <td class="am-text-middle"><%= orders[i].totalPrice %></td>
                            <td class="am-text-middle">
                                A: <%= orders[i].adminProfit %><br/>
                                B: <%= orders[i].topProfit %><br/>
                                C: <%= orders[i].superProfit %><br/>
                            </td>
                            <td class="am-text-middle">
                               <div class="operation">
                                   <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                      href="/admin/order/complete?id=<%= orders[i]._id %>&url=<%= path %>">完成 </a>
                               </div>
                                <div class="operation">
                                    <a class="am-btn am-btn-primary am-radius am-btn-xs orderRefund"
                                       href="/admin/order/refund?id=<%= orders[i]._id %>&url=<%= path %>">拒绝</a>
                                </div>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <input type="hidden" value="<%= pages %>" id="pages">
                    <div id="laypage"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenuContent');

    $(function() {
        var clip = new Clipboard('.clipboard');
        clip.on('success', function (e) {
            $(e.trigger).removeClass('am-btn-primary').addClass('am-btn-danger');
            layer.msg('复制成功！', {
                time: 1000
            });
        });

        layer.config({
            extend: 'extend/layer.ext.js'
        });

        $('.orderRefund').click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            var href = $(this).attr('href');
            layer.prompt({
                formType: 2,
                title: '请输入拒绝接单的理由！',
                offset: '6%'
            }, function (value, index) {
                href += '&info=' + value.replace(/\r\n/g,"").replace(/\n/g,"");
                layer.close(index);
                $('<a href=' + href + '></a>').get(0).click();
            });
        });

        $('.text-break').click(function () {
            var self = this;
            layer.alert($(self).text());
        });

        laypage({
            cont: 'laypage',
            pages: $('#pages').val(), //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            skin: 'molv', //皮肤
            skip: true, //是否开启跳页
            groups: 3, //连续显示分页数
            last: $('#pages').val(),
            curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    location.href = '?page='+e.curr;
                }
            }
        });
    })
</script>

</body>
</html>