<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
    <style>
        select{
            color: black;
        }
    </style>
</head>

<body data-type="adminPriceManage">

<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <!-- 风格切换 -->
    <link rel="import" href="../../components/changeStyle/changeStyle.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-cf"><%=title%></div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div id="searchForm" class="am-form am-form-inline">
                                <button id="addPrice" class="am-btn am-btn-primary am-radius am-btn-sm">
                                    <i class="am-icon-plus-circle"></i>
                                    添加价格项
                                </button>
                            </div>

                            <div class="am-u-sm-12 am-scrollable-horizontal forum-context priceFlow">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>类别</th>
                                        <th>名称</th>
                                        <th>平台</th>
                                        <th>父级</th>
                                        <th>子级</th>
                                        <th>平台</th>
                                        <th>父级</th>
                                        <th>子级</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for(var i = 0; i < products.length; i++){ %>
                                    <tr>
                                        <td class="num"><%= i + 1 %></td>
                                        <td class="type">
                                            <span><%= products[i].typeName %></span>
                                            <input type="hidden" value="<%= products[i].type %>">
                                        </td>
                                        <td class="name"><%= products[i].name %></td>
                                        <td class="adminPrice"><%= products[i].adminPrice %></td>
                                        <td class="superPrice"><%= products[i].superPrice %></td>
                                        <td class="childPrice"><%= products[i].childPrice %></td>
                                        <td class="adminPer"><%= products[i].adminPer %></td>
                                        <td class="superPer"><%= products[i].superPer %></td>
                                        <td class="childPer"><%= products[i].childPer %></td>
                                        <td class="operation">
                                            <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs edit">修改</button>
                                            <button type="button" class="am-btn am-btn-primary am-radius am-btn-xs delete">删除</button>
                                            <input type="hidden" value="<%= products[i]._id %>">
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('adminMenu');
    require('adminPriceManage');
</script>

</body>

</html>