<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body data-type="handerAll">

<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/header/header.html?__inline">
    <!-- 风格切换 -->
    <link rel="import" href="../../components/changeStyle/changeStyle.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">文章列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-form am-form-inline am-g-collapse">
                                <div class="am-u-sm-7 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <div class="am-btn-group">
                                            <button class="am-btn am-btn-secondary">任务类型</button>
                                            <div class="am-dropdown" data-am-dropdown>
                                                <button class="am-btn am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle>
                                                    <span class="am-icon-caret-down"></span>
                                                </button>
                                                <ul class="am-dropdown-content">
                                                    <li><a href="/hander/all">所有任务</a></li>
                                                    <li><a href="/hander/type?type=WXfans">微信粉丝</a></li>
                                                    <li><a href="/hander/type?type=WXfriend">微信好友</a></li>
                                                    <li><a href="/hander/type?type=WXvote">微信投票</a></li>
                                                    <li><a href="/hander/type?type=WXcode">微信扫码</a></li>
                                                    <li><a href="/hander/type?type=WXarticleShare">微信原文分享/收藏</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-3 am-u-lg-3">
                                    <a href="/hander/look" class="am-btn am-btn-warning am-radius" style="float: right;">
                                        <i class="am-icon-warning"></i>
                                        新手必看
                                    </a>
                                </div>
                            </div>

                            <div class="am-u-sm-12 am-scrollable-horizontal">
                                <table width="100%" class="am-table am-text-nowrap am-table-striped tpl-table-black">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>类型</th>
                                        <th>标题</th>
                                        <th>单价</th>
                                        <th>剩余 / 总数</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <% for(var i = 0; i < orders.length; i++){ %>
                                    <tr>
                                        <td class="am-text-middle"><%= i + 1  %></td>
                                        <td class="am-text-middle"><%= orders[i].smallTypeName %></td>
                                        <td class="am-text-middle">
                                            <%= orders[i].title %>
                                        </td>
                                        <td class="am-text-middle">
                                            <% if(role == '管理员'){ %>
                                            <%= orders[i].adminPerPrice %>
                                            <% } %>

                                            <% if(role == '顶级代理'){ %>
                                            <%= orders[i].topPerPrice %>
                                            <% } %>

                                            <% if(role == '超级代理'){ %>
                                            <%= orders[i].superPerPrice %>
                                            <% } %>

                                            <% if(role == '金牌代理'){ %>
                                            <%= orders[i].goldPerPrice %>
                                            <% } %>
                                        </td>
                                        <td class="am-text-middle">
                                            <%= orders[i].num - (orders[i].taskNum ? orders[i].taskNum : 0) %> / <%= orders[i].num %>
                                        </td>
                                        <td class="am-text-middle">
                                            <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                               href="/task/show?id=<%= orders[i]._id %>">接手任务</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr class="gradeX">
                                        <td>Amaze UI 模式窗口</td>
                                        <td>张鹏飞</td>
                                        <td>2016-09-26fasdfasdfaaaaaaaaaaaaaaaaaa</td>
                                        <td>2016-09-26</td>
                                        <td>2016-09-26</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 接手任务
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>Amaze UI 模式窗口</td>
                                        <td>张鹏飞dfafff3333333333333333333333333333333</td>
                                        <td>2016-09-26</td>
                                        <td>2016-09-26</td>
                                        <td>2016-09-26</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 接手任务
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>Amaze UI 模式窗口</td>
                                        <td>张鹏飞</td>
                                        <td>2016-09-26</td>
                                        <td>2016-09-26</td>
                                        <td>2016-09-26</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;">
                                                    <i class="am-icon-pencil"></i> 接手任务
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <input type="hidden" value="<%= pages %>" id="pages">
                                <div id="laypage"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>
<script src="/static/plugins/laydate/laydate.js"></script>

<script>
    require('handerAll');
</script>

</body>
</html>