<!-- 侧边导航栏 -->
<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="/static/images/user04.png" alt="">
            </div>
            <span class="user-panel-logged-in-text">
                <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                <%= user.funds %>
            </span>
            <span class="user-panel-logged-in-text">
                <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                <%= user.freezeFunds %>
            </span>
            <a href="/user/info" class="tpl-user-panel-action-link">
                <span class="am-icon-pencil"></span> 账户详情
            </a>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <!-- 做任务者菜单列表 -->
        <% if(user.role == 'hander'){ %>
        <li class="sidebar-nav-link">
            <a id="handerHome" href="/hander/home">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-list-ul sidebar-nav-link-logo"></i> 做任务
                <span class="tips complaints"> <strong>*</strong> </span>
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a id="handerAll" href="/hander/all">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 任务大厅
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="handerAlre" href="/hander/alre">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 做过的任务
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="handerComplaints" href="/hander/complaints">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 被投诉任务
                        <span class="am-badge am-badge-warning am-round item-feed-badge updateNum complaints">0</span>
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="handerAccount" href="/hander/account">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 我的信息
                    </a>
                </li>
            </ul>
        </li>
        <% } %>

        <!-- 发布任务者菜单列表 -->
        <% if(user.role == 'tasker'){ %>
        <li class="sidebar-nav-link">
            <a id="taskerHome" href="/tasker/home">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-list-ul sidebar-nav-link-logo"></i> 微信任务
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a id="WXfans" href="/tasker/WX/fans">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 微信关注
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="WXfriend" href="/tasker/WX/friend">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 微信好友
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="WXvote" href="/tasker/WX/vote">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 微信投票
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="WXcode" href="/tasker/WX/code">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 微信扫码
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="WXarticleShare" href="/tasker/WX/article">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 微信原文分享
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-list-ul sidebar-nav-link-logo"></i> 任务处理
                <span class="tips checks"> <strong>*</strong> </span>
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a id="taskerCheck" href="/tasker/check">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 待验收任务
                        <span class="am-badge am-badge-warning am-round item-feed-badge updateNum checks">0</span>
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="taskerComplaints" href="/tasker/complaint">
                        <i class="am-icon-angle-right sidebar-nav-link-logo"></i> 我的投诉
                    </a>
                </li>
            </ul>
        </li>
        <% } %>

        <!--　发布任务者和做任务者共享菜单列表　-->
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-list-ul sidebar-nav-link-logo"></i> 资金管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <% if(user.role == 'tasker'){ %>
                <li class="sidebar-nav-link">
                    <a id="taskerRecharge" href="/user/recharge">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线充值
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="taskerRechargeHis" href="/user/recharge/history">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值记录
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="taskerConsumeHis" href="/user/consume/history">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 消费记录
                    </a>
                </li>
                <% } %>
                <% if(user.role == 'hander'){ %>
                <li class="sidebar-nav-link">
                    <a id="withdraw" href="/user/withdraw">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 申请提现
                    </a>
                </li>
                <% } %>
            </ul>
        </li>


        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-list-ul sidebar-nav-link-logo"></i> 下级管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a id="lowerUser" href="/user/lowerUser">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 下级用户
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a id="lowerUserProfit" href="/user/lowerUser/profit">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 下级返利
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a id="feedback" href="/user/feedback">
                <i class="am-icon-question-circle sidebar-nav-link-logo"></i> 问题反馈
            </a>
        </li>

    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>