
.menu-item{
  font-size: 1.4em;
}

.menu-item:hover{
  background-color: #3BB4F2;
  font-size: 1.5em;
}

@media screen and (min-width: 1000px){
  .am-menu-nav{
    padding: 8px 18% !important;
  }
}

.app-content{
  padding: 12px 3px 0;
  font-size: 1.4em;
}

.navTips{
  color: red;
  display: none;
}

@media screen and (min-width: 1000px){
  .app-content{
    max-width: 64%;
  }
}


h2{
  margin:0;
}
#pop{
  background:#fff;
  width:320px;
  height:auto;
  font-size:1.1em;
  position:fixed;
  right:0;
  bottom:0;
  -webkit-box-shadow: -2px 2px 13px 3px #000;
  -moz-box-shadow: -2px 2px 13px 3px #000;
  box-shadow: -2px 2px 13px 3px #000;
}
#popHead{
  line-height:32px;
  background:#f6f0f3;
  border-bottom:1px solid #e0e0e0;
  padding:0 0 0 10px;
}
#popHead h2{
  font-size:16px;
  color:#666;
  line-height:32px;
  height:32px;
}
#popHead #popClose{
  position:absolute;
  right:10px;
  top:1px;
}
#popHead a#popClose:hover{
  color:#f00;
  cursor:pointer;
}