<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WXcommentAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="forumReply" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">

                        1.本平台不允许评论的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，如被发现立即封停帐号，余额不退，所有单子清空，并永久停止使用本平台任何业务，新开帐号也一律封杀，每天专人检查，严格执行，如有求情者一并封杀！<br/>
                        2.为保证系统执行效率，单次录入不超过2000条;评论内容不能有电话,网址,QQ,邮箱等联系方式。<br/>
                        3.单个连接的任务，如果提交的评论内容大量重复使用，或者评论内容里含有大量相同关键词的，可以提交到平台执行，但是，平台评论成功后帖子里没有显示或者差量的，一律不补，一律不退款！<br/>

                    </div>
                </div>

                <validator name="forumcomment">
                    <form class="am-form am-form-horizontal" method="post" action="/WX/comment/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label for="taskAddress" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务地址</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="taskAddress" class="am-radius am-input-sm" type="text" placeholder="请填写评论地址" name="address"
                                       v-validate:address="{required: true, isaddress: true}" v-model="address" @change="parseAddress">
                                <span class="tips" v-if="$forumcomment.address.required">任务地址不能为空!</span>
                                <span class="tips" v-if="$forumcomment.address.isaddress">请填写合法的地址!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务标题</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">{{title}}</p>
                                <input type="hidden" name="title" value="{{title}}">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">￥ <%= price %></p>
                                <input type="hidden" v-model="price" value="<%= price %>">
                            </div>
                        </div>

                        <!--<div class="am-form-group">-->
                            <!--<label for="startTime" class="am-u-sm-4 am-u-lg-2 am-form-label">定时时间</label>-->
                            <!--<div class="am-u-sm-8 am-u-lg-10">-->
                                <!--<input id="startTime" class="am-radius am-input-sm" type="text" placeholder="点击选择定时时间"-->
                                       <!--onclick="laydate({-->
                                       <!--istime: true,-->
                                       <!--min: laydate.now((new Date().getTime() + 10*60*1000), 'YYYY-MM-DD hh:mm'),-->
                                       <!--format: 'YYYY-MM-DD hh:mm'})" name="startTime">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                            <!--<label class="am-u-sm-4 am-u-lg-2 am-form-label">评论间隔</label>-->
                            <!--<div class="am-u-sm-8 am-u-lg-10">-->
                                <!--<input class="am-radius am-input-sm speedTime" type="text" value="1" name="min"-->
                                       <!--v-validate:min="{isnum: true}">-->
                                <!--至-->
                                <!--<input class="am-radius am-input-sm speedTime" type="text" value="5" name="max"-->
                                       <!--v-validate:max="{isnum: true}">-->
                                <!--分钟-->
                                <!--<span class="tips" v-if="$forumcomment.min.isnum">必须为正整数!</span>-->
                                <!--<span class="tips" v-if="$forumcomment.max.isnum">必须为正整数!</span>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="am-form-group">
                            <label for="contentSelf" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>评论内容</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <textarea id="contentSelf" class="am-radius" rows="3" placeholder="{{remark}}"
                                          v-validate:content="{required: true, maxprice: true}"
                                          name="content" @keyup="getTotalPrice" @blur="getTotalPrice"></textarea>
                                <span class="tips" v-if="$forumcomment.content.required">评论内容不能为空!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <span class="disable">￥ {{totalPrice}} ; 合计: {{num}} 条</span>
                                <span class="tips">( 最低5条起评，不足5条按5条计算 )</span><br/>
                                <span class="tips" v-if="$forumcomment.content.maxprice">您的余额不足，请充值!</span>
                                <input type="hidden" v-model="funds" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                <button type="submit" class="am-btn am-btn-primary am-radius" v-if="$forumcomment.valid">提交任务</button>
                            </div>
                        </div>
                    </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<!--<script src="/static/plugins/laydate/laydate.js"></script>-->

<script>
    require('WXcommentAdd');
</script>


</body>
</html>