
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/js/jquery.js"></script>
<!--<![endif]-->

<!--[if lte IE 8 ]>
<script src="/static/js/jquery-1.11.1.js"></script>
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/amazeui.ie8polyfill.js"></script>
<![endif]-->
<script src="/static/js/amazeui.js"></script>
<script src="/static/js/theme.js"></script>
<script src="/static/js/app.js"></script>
                     
<script src="/static/js/mod.js"></script>
<script src="/static/js/js-cookie.js"></script>

<script>
    require('menu');
    $(function() {
        var isIndex = location.pathname == '/';
        var isAdmin = location.pathname.split('/')[1] == 'admin';
        var isSign = location.pathname.split('/')[1] == 'sign';
        if(!isIndex && !isAdmin && !isSign){
            $.get('/new/placard', function (results) {
                var content = '';
                for(var i = 0; i < results.length; i++) {
                    var result = results[i];
                    content += '<li class="tpl-dropdown-menu-notifications">' +
                            '<div class="tpl-dropdown-menu-notifications-item am-cf tpl-dropdown-menu-notifications-title">' +
                            '<span>【' + result.typeName + '】&nbsp;' + result.sendTime + '<br/>' + result.placardContent + '</span>' +
                            '<img src="/static/images/new-placard.gif" style="display: inline; width: 38px; height: 13px; margin: -4px 0 0 4px;">' +
                            '</div></li>';
                }
                $('#popContent').prepend(content);
            });
        }
        $('#removeAutoLogin').click(function () {
            Cookies.remove('loginInfo', {path: '/'});
        });
    })
</script>