.tips{
  color: red;
}

.prompt-title{
  text-align: center;
  font-size: large;
  font-weight:bold;
}

.priceTip{
  display: inline-block;
  padding-left: 12px;
}

.disable{
  margin: 0;
  padding-top: 8px;
}

@media (min-width: 800px) {
  form{
    padding-right: 88px;
  }
}