<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="errorSummary.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div  id="searchForm" class="am-form am-form-inline">
                    <validator name="search">
                        <form id="search" method="get" action="/user/search/error">
                            <div class="am-form-group am-form-group-sm search-title">
                                <label for="errorType" class="am-u-sm-2 am-form-label errorTypeLabel">类型</label>
                                <div class="am-u-sm-10 errorTypeWrap">
                                    <select id="errorType" class="am-form-field am-input-sm am-radius" name="type"
                                    v-validate:type="{required: true}">
                                        <option value="">== 选择类型 ==</option>
                                        <option value="wx-friend">公众粉丝(1000以上)</option>
                                        <option value="wx-fans-fansReply">公众粉丝(1000以下)</option>
                                        <option value="wx-article-share-collect">微信原文/分享/收藏</option>
                                        <option value="wx-read-like">微信阅读/点赞</option>
                                        <option value="mp-like">美拍点赞</option>
                                        <option value="mp-comment">美拍评论</option>
                                        <option value="mp-attention">美拍关注</option>
                                        <option value="mp-forward">美拍转发</option>
                                        <option value="wb-like">微博高级赞</option>
                                        <option value="wb-vote">微博投票</option>
                                        <option value="wb-fans">微博粉丝</option>
                                        <option value="wb-fansTwo">微博粉丝达人20%</option>
                                        <option value="wb-fansEight">微博粉丝达人80%</option>
                                        <option value="wb-forward">微博转发</option>
                                        <option value="wb-forwardTwo">微博转发达人20%</option>
                                        <option value="wb-forwardEight">微博转发达人80%</option>
                                        <option value="wb-comment">微博评论</option>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group am-form-group-sm">
                                <button class="am-btn am-btn-success am-radius am-btn-sm" v-if="$search.valid">
                                    <i class="am-icon-search"></i>
                                    搜索
                                </button>
                            </div>
                        </form>
                    </validator>
                </div>

                <div class="am-scrollable-horizontal am-text-center errorSummary-content">
                    <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>提交日期</th>
                            <th>报错日期</th>
                            <th>错误类别</th>
                            <th>任务地址</th>
                            <th>问题描述</th>
                            <th>问题状态</th>
                            <th>处理备注</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < orders.length; i++){ %>
                        <tr class="<% if(orders[i].error == '未处理'){ %> am-active
                        <% }else if(orders[i].error == '已处理'){ %> am-primary <% } %>">
                            <td class="am-text-middle"><%= i + 1 %></td>
                            <td class="am-text-middle"><%= orders[i].user %></td>
                            <td class="am-text-middle"><%= orders[i].createTime %></td>
                            <td class="am-text-middle"><%= orders[i].errorTime %></td>
                            <td class="am-text-middle">
                                <%= orders[i].typeName %> / <%= orders[i].smallTypeName %>
                            </td>
                            <td class="am-text-middle">
                                <% if(orders[i].address){ %>
                                <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                   title="<%= orders[i].address %>"
                                   data-clipboard-text="<%= orders[i].address %>">复制</a>
                                <% } %>
                            </td>
                            <td class="am-text-middle">
                                <a class="am-text-truncate text-break" title="<%= orders[i].errorInfo %>">
                                    <%= orders[i].errorInfo %>
                                </a>
                            </td>
                            <td class="am-text-middle"><%= orders[i].error %></td>
                            <td class="am-text-middle">

                                <% if(orders[i].errorDealInfo != undefined){ %>
                                <div class="operation">
                                    <a class="am-text-truncate text-break am-badge-primary am-radius"
                                       title="<%= orders[i].errorDealInfo %>">
                                        <%= orders[i].errorDealInfo %>
                                    </a>
                                </div>
                                <% } %>

                                <% if(orders[i].refundInfo != undefined){ %>
                                <div class="operation">
                                    <a class="am-text-truncate text-break am-badge-danger am-radius"
                                       title="<%= orders[i].refundInfo %>">
                                        <%= orders[i].refundInfo %>
                                    </a>
                                </div>
                                <% } %>

                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <input type="hidden" value="<%= pages %>" id="pages">
                    <div id="laypage"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('errorSummary');
</script>

</body>
</html>