<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="flowVideoList.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div id="searchForm" class="am-form am-form-inline">
                    <validator name="search">
                        <div class="am-form-group am-form-group-sm search-title">
                            <label for="taskName" class="am-u-sm-3 am-form-label taskTypeLabel">
                                网站名称
                            </label>
                            <div class="am-u-sm-9 taskTypeWrap">
                                <form id="search" method="get" action="/flow/product/search/name">
                                    <input id="taskName" type="text" class="am-form-field am-input-sm am-radius"
                                           name="productName" placeholder="可模糊搜索"
                                           v-validate:account="{required: true}">
                                </form>
                            </div>
                        </div>

                        <div class="am-form-group am-form-group-sm">
                            <button form="search" class="am-btn am-btn-success am-radius am-btn-sm" v-if="$search.valid">
                                <i class="am-icon-search"></i>
                                搜索
                            </button>
                        </div>
                    </validator>
                </div>

                <div class="am-scrollable-horizontal am-text-center WXfriend-content">
                    <table class="am-table am-table-bordered am-table-radius am-text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>logo</th>
                            <th>名称</th>
                            <th>域名</th>
                            <th>状态</th>
                            <th>说明</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < products.length; i++){ %>
                        <tr>
                            <td class="num"><%= i + 1 %></td>
                            <td class="logo">
                                <img src="<%= products[i].logo %>">
                            </td>
                            <td class="name"><%= products[i].name %></td>
                            <td class="address">
                                <a href="http://<%= products[i].address %>" target="_blank"><%= products[i].address %></a>
                            </td>
                            <td class="condition">
                                <%= products[i].conditionName %>
                            </td>
                            <td class="remark">
                                <a class="am-text-truncate text-break" title="<%= products[i].remark %>">
                                    <%= products[i].remark %>
                                </a>
                            </td>
                            <td class="operation">
                                <% if(products[i].condition == 'normal'){ %>
                                <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                href="/flow/add/video/task?id=<%= products[i]._id %>">添加任务</a>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('flowVideoList');
</script>

</body>
</html>