<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WBvoteAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="wbVote" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">
                        1.本平台不允许赞的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，发现立即封停帐号。
                        <br/>
                        2.微博进度条暂未开启，进度请查看实际下单链接。<br/>

                        3.平台最低下单100起，不足100按100计算。
                    </div>
                </div>

                <validator name="wbvote">
                    <form class="am-form am-form-horizontal" method="post" action="/wb/vote/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">微博投票￥ <%= price %>/个</p>
                                <input type="hidden" value="<%= price %>" v-model="price">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="taskAddress" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>投票地址</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="taskAddress" class="am-radius am-input-sm" type="text" placeholder="请填写评论地址" name="address"
                                       v-validate:address="{required: true, isaddress: true}">
                                <span class="tips" v-if="$wbvote.address.required">任务地址不能为空!</span>
                                <span class="tips" v-if="$wbvote.address.isaddress">请填写合法的地址!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="readNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务数量</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="readNum" class="am-radius am-input-sm" type="text" placeholder="刷100次起步，不足100按100计算."
                                       v-on:keyup="total" v-on:change="total" v-model="num" name="num"
                                       v-validate:num="{required: true, min100: true, isnum: true, maxprice: true}">
                                <span class="tips" v-if="$wbvote.num.required">需要添加的阅读数量不能为空!</span>
                                <span class="tips" v-if="$wbvote.num.isnum">数量必须为正整数!</span>
                                <span class="tips" v-if="$wbvote.num.min100">数量最低100起!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">￥ {{totalPrice}}</p>
                                <span class="tips" v-if="$wbvote.num.maxprice">您的余额不足，请充值!</span>
                                <input type="hidden" v-model="funds" value="<%= money %>">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="taskRemark" class="am-u-sm-4 am-u-lg-2 am-form-label">备注</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <textarea id="taskRemark" class="am-radius" rows="3" placeholder="备注信息,防止混淆" name="remark"></textarea>
                            </div>
                        </div>

                        <!--<div class="am-form-group">-->
                        <!--<label for="totalPrice" class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="totalPrice" class="am-radius am-input-sm" type="text" disabled>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="setSpeed" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>速度设置</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<select id="setSpeed" class="am-radius am-input-sm">-->
                        <!--<option value="">无要求 </option>-->
                        <!--<option value="">每秒 </option>-->
                        <!--<option value="">每分钟 </option>-->
                        <!--<option value="">每小时 </option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="likeNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>速度数量</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="likeNum" class="am-radius am-input-sm" type="text" placeholder="需要定期增加的数量">-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="planTime" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>计划时间</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="planTime" class="am-radius am-input-sm" type="text" placeholder="首次开始任务的时间">-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="continuedTime" class="am-u-sm-4 am-u-lg-2 am-form-label">计划持续</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="continuedTime" class="am-radius am-input-sm" type="text" placeholder="任务持续的天数，以后每天在计划时间重复执行">-->
                        <!--</div>-->
                        <!--</div>-->



                        <div class="am-form-group">
                            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                <button type="submit" class="am-btn am-btn-primary am-radius" v-if="$wbvote.valid">提交任务</button>
                            </div>
                        </div>
                    </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

<script>
    require('WBvoteAdd');
</script>

</body>
</html>

