
.taskTypeLabel{
  padding: 7px 3px 0;
}

.search-title{
  overflow: hidden;
}

th{
  text-align: center;
}

.am-panel-success{
  margin: 0;
  ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .indexColor {
    color: #5EB95E;
  }

  li{
    padding: 10px 22px;
    border-bottom: 1px solid #ddd;
    list-style: none;
  }
}



