<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminRechargeHistory.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal">

                    <div id="searchForm" class="am-form am-form-inline">
                        <validator name="search">
                            <form method="get" action="/admin/search/recharge/by/alipayId">
                                <div class="am-form-group am-form-group-sm search-title">
                                    <label for="taskName" class="am-u-sm-3 am-form-label taskTypeLabel">
                                        交易号
                                    </label>
                                    <div class="am-u-sm-9 taskTypeWrap">
                                        <input id="taskName" type="text" class="am-form-field am-input-sm am-radius"
                                               placeholder="请输入交易号" name="alipayId"
                                               v-validate:alipayid="{required: true}">
                                    </div>
                                </div>

                                <div class="am-form-group am-form-group-sm">
                                    <button class="am-btn am-btn-success am-radius am-btn-sm" v-if="$search.valid">
                                        <i class="am-icon-search"></i>
                                        搜索
                                    </button>
                                </div>
                            </form>
                        </validator>
                    </div>

                    <div class="am-scrollable-horizontal am-text-center recharge-content">
                        <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>用户</th>
                                <th>充值日期</th>
                                <th>支付宝交易号</th>
                                <th>之前余额</th>
                                <th>金额</th>
                                <th>之后余额</th>
                                <th>状态</th>
                                <th>描述</th>
                                <th>手动充值</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% for(var i = 0; i < recharges.length; i++){ %>
                            <tr>
                                <td  class="am-text-middle"><%= i + 1 %></td>
                                <td  class="am-text-middle"><%= recharges[i].username %></td>
                                <td  class="am-text-middle"><%= recharges[i].createTime %></td>
                                <td  class="am-text-middle"><%= recharges[i].alipayId %></td>
                                <td  class="am-text-middle"><%= recharges[i].userOldFunds %></td>
                                <td  class="am-text-middle"><%= recharges[i].funds %></td>
                                <td  class="am-text-middle"><%= recharges[i].userNowFunds %></td>
                                <td  class="am-text-middle"><%= recharges[i].status %></td>
                                <td  class="am-text-middle"><%= recharges[i].dec %></td>
                                <td class="am-text-middle">
                                    <% if(!recharges[i].isRecharge){ %>
                                    <a class="am-btn am-btn-primary am-radius am-btn-xs handRecharge"
                                       href="/admin/hand/recharge?id=<%= recharges[i]._id %>&url=<%= path %>">充值</a>
                                    <a class="am-btn am-btn-primary am-radius am-btn-xs refuseRecharge"
                                       href="/admin/hand/recharge/refuse?id=<%= recharges[i]._id %>&url=<%= path %>">拒绝</a>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>

                        <input type="hidden" value="<%= pages %>" id="pages">
                        <div id="laypage"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenuContent');
    require('adminRechargeHistory');
</script>

</body>
</html>