<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">
</head>

<body data-type="handerAccount">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <link rel="import" href="../../components/header/header.html?__inline">
    <!-- 风格切换 -->
    <link rel="import" href="../../components/changeStyle/changeStyle.html?__inline">
    <!-- 侧边导航栏 -->
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading">
                        <span class="am-icon-warning page-header-heading-icon"></span>
                        提示
                    </div>
                    <p class="page-header-description">
                        1、执行任务前请完善个人做任务的微信号信息。<br/>
                        2、微信号信息主要作用是用来查询违规，请如实填写，如微信号与做任务截图微信号不一致，造成封号平台概不负责。<br/>
                        3、任务资金（利润）３元以上即可提现，提现会在12小时打入支付宝。每天限提现一次。<br/>
                        4、为保证平台良性发展，平台监督力度加强，无论是发布者或投手，一次违规，直接封号。望各位相互监督，共谋利益。<br/>
                    </p>
                </div>
            </div>
        </div>

        <div class="row-content am-cf">

            <div class="row">

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl"><%=title%></div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form  tpl-form-border-form tpl-form-border-br" id="userInfo" method="post" action="/hander/account">
                                <div class="tips" style="text-align: center;"><%= message %></div>

                                <div class="am-form-group">
                                    <label for="five" class="am-u-sm-4 am-u-lg-2 am-form-label">微信账号</label>
                                    <div class="am-u-sm-8 am-u-lg-10">
                                        <input class="am-radius am-input-sm" type="text" id="five" v-model="taskAccount"
                                               name="taskAccount" value="<%= user.taskAccount %>" v-if="isEdit">
                                        <span class="tips" v-if="isNone">任务账号不能为空!</span>
                                        <p class="disable" v-if="!isEdit"><%= user.taskAccount %></p>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="six" class="am-u-sm-4 am-u-lg-2 am-form-label">微信昵称</label>
                                    <div class="am-u-sm-8 am-u-lg-10">
                                        <input class="am-radius am-input-sm" type="text" id="six" v-model="taskName"
                                               name="taskName" value="<%= user.taskName %>" v-if="isEdit">
                                        <span class="tips" v-if="isNone">任务账号昵称不能为空!</span>
                                        <p class="disable" v-if="!isEdit"><%= user.taskName %></p>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                        <button class="am-btn am-btn-primary am-radius am-btn-sm"
                                                @click.stop.prevent="edit" v-if="!isEdit">编辑</button>
                                        <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm"
                                                @click="check" v-if="isEdit">保存</button>
                                        <button class="am-btn am-btn-default am-radius am-btn-sm"
                                                @click.stop.prevent="cancel" v-if="isEdit">取消</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script>
    require('./handerAccount');
</script>

</body>
</html>