<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="MPlikeAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="mpLike" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <!--<div class="am-panel am-panel-danger">-->
                    <!--<div class="am-panel-hd prompt-title">提示</div>-->
                    <!--<div class="am-panel-bd">-->
                        <!--1.多个平台提交任务会导致量不足，责任自负。<br/>-->

                        <!--2.微信默认赠送0.5%微信赞，如不需要赞，请填写0。<br/>-->

                        <!--3.微信点赞数量不能少于阅读数量，否则无法执行。<br/>-->

                        <!--4.微信阅读最低下单100阅读。<br/>-->

                        <!--5.微信阅读最低速度8个/分钟，最高速度137个/分钟。<br/>-->
                    <!--</div>-->
                <!--</div>-->

                <validator name="mplike">
                <form class="am-form am-form-horizontal" method="post" action="/mp/like/add">
                    <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                    <div class="am-form-group">
                        <label class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <p class="disable">美拍点赞￥ <%= price %>/个</p>
                            <input type="hidden" value="<%= price %>" v-model="price">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="taskAddress" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务地址</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="taskAddress" class="am-radius am-input-sm" type="text" placeholder="请填写任务地址" name="address"
                                   v-validate:address="{required: true, isaddress: true}" v-model="address" @change="parseAddress">
                            <span class="tips" v-if="$mplike.address.required">任务地址不能为空!</span>
                            <span class="tips" v-if="$mplike.address.isaddress">请填写合法的地址!</span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务标题</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <p class="disable">{{articleTitle}}</p>
                            <input type="hidden" name="title" value="{{articleTitle}}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="readNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务数量</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="readNum" class="am-radius am-input-sm" type="text" placeholder="需要增加的任务数量,最少1000起."
                                   v-on:keyup="total" v-on:change="total" v-model="num" name="num"
                                   v-validate:num="{required: true, min1000: true, isnum: true, maxprice: true}">
                            <span class="tips" v-if="$mplike.num.required">需要添加的阅读数量不能为空!</span>
                            <span class="tips" v-if="$mplike.num.isnum">数量必须为正整数!</span>
                            <span class="tips" v-if="$mplike.num.min1000">数量最低1000起!</span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <p class="disable">￥ {{totalPrice}}</p>
                            <span class="tips" v-if="$mplike.num.maxprice">您的余额不足，请充值!</span>
                            <input type="hidden" v-model="funds" value="<%= money %>">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="setSpeed" class="am-u-sm-4 am-u-lg-2 am-form-label">速度设置</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <select id="setSpeed" class="am-radius am-input-sm" name="speedUnit" v-model="speedunit">
                                <option value="">无要求 </option>
                                <option value="秒">每秒 </option>
                                <option value="分">每分钟 </option>
                                <option value="时">每小时 </option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group" v-if="speedunit">
                        <label for="likeNum" class="am-u-sm-4 am-u-lg-2 am-form-label">速度数量</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="likeNum" class="am-radius am-input-sm" type="text" placeholder="需要定期增加的数量"
                                   v-validate:spped="{isnum: true}" name="speed">
                            <span class="tips" v-if="$mplike.spped.isnum">必须为正整数!</span>
                        </div>
                    </div>

                    <!--<div class="am-form-group">-->
                        <!--<label for="taskRemark" class="am-u-sm-4 am-u-lg-2 am-form-label">任务备注</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<textarea id="taskRemark" class="am-radius" rows="3" placeholder="添加任务备注"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                    <!--<label for="planTime" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>计划时间</label>-->
                    <!--<div class="am-u-sm-8 am-u-lg-10">-->
                    <!--<input id="planTime" class="am-radius am-input-sm" type="text" placeholder="首次开始任务的时间">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                    <!--<label for="continuedTime" class="am-u-sm-4 am-u-lg-2 am-form-label">计划持续</label>-->
                    <!--<div class="am-u-sm-8 am-u-lg-10">-->
                    <!--<input id="continuedTime" class="am-radius am-input-sm" type="text" placeholder="任务持续的天数，以后每天在计划时间重复执行">-->
                    <!--</div>-->
                    <!--</div>-->



                    <div class="am-form-group">
                        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                            <button type="submit" class="am-btn am-btn-primary am-radius" v-if="$mplike.valid">提交任务</button>
                        </div>
                    </div>
                </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

<script>
    require('MPlikeAdd');
</script>

</body>
</html>

