
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WXfansAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="wxReply" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">
                        1．单次下单上限1万，累计上限100万。<br/>
                        2．多次提交同一链接排队执行。<br/>
                        3．个别任务会有延时，显示完成后半小时之后会显示。<br/>
                    </div>
                </div>

                <validator name="wxReply">
                <form class="am-form am-form-horizontal" method="post" action="/wx/fans/add">
                    <input type="hidden" value="<%= orderFlag %>" name="orderFlag">
                    <div class="am-form-group">
                        <label for="fansID" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>微信账号</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="fansID" class="am-radius am-input-sm" type="text" name="account"
                                   placeholder="请填写公众平台微信号或者ID" v-validate:account="{required: true}">
                            <span class="tips" v-if="$wxReply.account.required">微信账号不能为空!</span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <!--<p class="disable">公众粉丝￥<%= fansPrice %>/个; 粉丝回复￥<%= replyPrice %>/个。</p>-->
                            <p class="disable">公众粉丝￥<%= fansPrice %>/个。</p>
                            <input type="hidden" v-model="fansPrice" value="<%= fansPrice %>">
                            <input type="hidden" v-model="replyPrice" value="<%= replyPrice %>">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="fansNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>粉丝数量</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="fansNum" class="am-radius am-input-sm" type="text" name="num" v-model="num"
                                   placeholder="需要增加的粉丝数量，最低100起" v-on:keyup="total" v-on:change="total"
                                   v-validate:num="{required: true, min100: true, isnum: true, maxprice: true}">
                            <span class="tips" v-if="$wxReply.num.required">需要添加的粉丝数量不能为空!</span>
                            <span class="tips" v-if="$wxReply.num.isnum">数量必须为正整数!</span>
                            <span class="tips" v-if="$wxReply.num.min100">数量最低100起!</span>
                        </div>
                    </div>

                    <!--<div class="am-form-group">-->
                        <!--<label for="replyNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>回复数量</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<input id="replyNum" class="am-radius am-input-sm" type="text" name="num2" v-model="replyNum"-->
                                   <!--placeholder="需要增加的回复数量，不能大于粉丝数量" v-on:keyup="total" v-on:change="total"-->
                                   <!--v-validate:replynum="{required: true, minnum: true, isnum: true, maxprice: true}">-->
                            <!--<span class="tips" v-if="$wxReply.replynum.required">需要添加的回复数量不能为空!</span>-->
                            <!--<span class="tips" v-if="$wxReply.replynum.isnum">数量必须为正整数!</span>-->
                            <!--<span class="tips" v-if="$wxReply.replynum.minnum">回复数量不能大于粉丝数量!</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label for="replyInfo" class="am-u-sm-4 am-u-lg-2 am-form-label">回复信息</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<textarea id="replyInfo" class="am-radius" rows="3" name="replyInfo"-->
                                      <!--placeholder="自定义回复信息，每行一条"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="am-form-group">
                        <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <p class="disable taskPrice">￥ {{count}}</p>
                            <span class="tips" v-if="$wxReply.num.maxprice">您的余额不足，请充值!</span>
                            <input type="hidden" v-model="funds" value="<%= money %>">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="fansSpeed" class="am-u-sm-4 am-u-lg-2 am-form-label">加粉限速</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <input id="fansSpeed" class="am-radius am-input-sm" type="text" name="fansSpeed"
                                   placeholder="限速单位：数量/分钟， 例如限制一分钟最多增加100个粉丝，输入100即可"
                                   v-validate:spped="{isnum: true}" name="days">
                            <span class="tips" v-if="$wxReply.spped.isnum">必须为正整数!</span>
                        </div>
                    </div>

                    <!--<div class="am-form-group">-->
                        <!--<label for="replySpeed" class="am-u-sm-4 am-u-lg-2 am-form-label">回复限速</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<input id="replySpeed" class="am-radius am-input-sm" type="text" name="speed"-->
                                   <!--placeholder="限速单位：数量/分钟， 例如限制一分钟最多增加100个回复，输入100即可"-->
                                   <!--v-validate:replyspeed="{isnum: true}" name="days">-->
                            <!--<span class="tips" v-if="$wxReply.replyspeed.isnum">必须为正整数!</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label for="fansType" class="am-u-sm-4 am-u-lg-2 am-form-label">指定模式</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<select id="fansType" class="am-radius am-input-sm" name="mode">-->
                                <!--<option value="">&#45;&#45; 选择模式 &#45;&#45;</option>-->
                                <!--<option value="宽松匹配">宽松匹配</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label for="s1" class="am-u-sm-4 am-u-lg-2 am-form-label">指定国家</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<select id="s1" class="am-radius am-input-sm" name="country"></select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label for="s2" class="am-u-sm-4 am-u-lg-2 am-form-label">指定省份</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<select id="s2" class="am-radius am-input-sm" name="province"></select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label for="s3" class="am-u-sm-4 am-u-lg-2 am-form-label">指定城市</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<select id="s3" class="am-radius am-input-sm" name="city"></select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                        <!--<label class="am-u-sm-4 am-u-lg-2 am-form-label">指定性别</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                            <!--<label class="am-radio-inline">-->
                                <!--<input type="radio"  value="随机" name="gender" checked> 随机-->
                            <!--</label>-->
                            <!--<label class="am-radio-inline">-->
                                <!--<input type="radio"  value="男" name="gender"> 男-->
                            <!--</label>-->
                            <!--<label class="am-radio-inline">-->
                                <!--<input type="radio" value="女" name="gender"> 女-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                    <!--<label for="planTime" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>计划时间</label>-->
                    <!--<div class="am-u-sm-8 am-u-lg-10">-->
                    <!--<input id="planTime" class="am-radius am-input-sm" type="text" placeholder="首次开始任务的时间">-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="am-form-group">-->
                    <!--<label for="continuedTime" class="am-u-sm-4 am-u-lg-2 am-form-label">计划持续</label>-->
                    <!--<div class="am-u-sm-8 am-u-lg-10">-->
                    <!--<input id="continuedTime" class="am-radius am-input-sm" type="text" placeholder="任务持续的天数，以后每天在计划时间重复执行">-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="am-form-group">
                        <label for="fansRemark" class="am-u-sm-4 am-u-lg-2 am-form-label">任务备注</label>
                        <div class="am-u-sm-8 am-u-lg-10">
                            <textarea id="fansRemark" class="am-radius" rows="3" placeholder="添加任务备注" name="remark"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                            <button type="submit" class="am-btn am-btn-primary am-radius"
                                    v-if="$wxReply.valid">提交任务</button>
                        </div>
                    </div>
                </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<!--<script src="/static/js/city.js"></script>-->
<script src="/static/plugins/laydate/laydate.js"></script>

<script>
    require('WXfansAdd');
//    init();
</script>

</body>
</html>
