<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="WBforwardAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="wbForward" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div class="am-panel am-panel-danger">
                    <div class="am-panel-hd prompt-title">提示</div>
                    <div class="am-panel-bd">
                        1.本平台不允许赞的内容包括：政治敏感话题、违法、违规、反动、未经官方证实的负面新闻、侮辱型、攻击性词语、维权话题、虚假广告等内容，发现立即封停帐号。
                        <br/>
                        2.个别微博进度有延时，实际进度请看下单链接。<br/>

                        3.平台最低下单100起，不足100不能提交订单。
                    </div>
                </div>

                <validator name="wbforward">
                    <form class="am-form am-form-horizontal" method="post" action="/wb/forward/add">
                        <input type="hidden" value="<%= orderFlag %>" name="orderFlag">

                        <div class="am-form-group">
                            <label for="taskPrice" class="am-u-sm-4 am-u-lg-2 am-form-label">价格明细</label>
                            <div class="am-u-sm-8 am-u-lg-10 am-g-collapse">
                                <div class=" am-u-lg-9">
                                    <select id="taskPrice" class="am-radius am-input-sm" v-validate:type="{required: true}"
                                            v-model="type" @change="selectType" name="smallType">
                                        <option value="">--选择任务类型--</option>
                                        <option value="forward">转发</option>
                                        <option value="forwardTwo">转发-达人20%</option>
                                        <option value="forwardEight">转发-达人80%</option>
                                    </select>
                                    <span class="tips" v-if="$wbforward.type.required">请选择您要提交的任务类型!</span>
                                </div>
                                <div class=" am-u-lg-3">
                                    <span class="tips priceTip">价格为￥ {{price}}/个</span>
                                </div>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="taskAddress" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>微博地址</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="taskAddress" class="am-radius am-input-sm" type="text"
                                       placeholder="例如：http://weibo.com/u/1742727537 或者 http://weibo.com/laoluoyonghao 或者　微博ＩＤ: 1742727537"
                                       name="address" v-validate:address="{required: true, isaddress: true}">
                                <span class="tips" v-if="$wbforward.address.required">任务地址不能为空!</span>
                                <span class="tips" v-if="$wbforward.address.isaddress">请填写合法的地址!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="readNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>任务数量</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input id="readNum" class="am-radius am-input-sm" type="text" placeholder="刷100次起步，不足100按100计算."
                                       v-on:keyup="total" v-on:change="total" v-model="num" name="num"
                                       v-validate:num="{required: true, min100: true, isnum: true, maxprice: true}">
                                <span class="tips" v-if="$wbforward.num.required">需要添加的阅读数量不能为空!</span>
                                <span class="tips" v-if="$wbforward.num.isnum">数量必须为正整数!</span>
                                <span class="tips" v-if="$wbforward.num.min100">数量最低100起!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <p class="disable">￥ {{totalPrice}}</p>
                                <span class="tips" v-if="$wbforward.num.maxprice">您的余额不足，请充值!</span>
                                <input type="hidden" v-model="funds" value="<%= money %>">
                            </div>
                        </div>

                        <!--<div class="am-form-group">-->
                            <!--<label class="am-u-sm-4 am-u-lg-2 am-form-label">评论类型</label>-->
                            <!--<div class="am-u-sm-8 am-u-lg-10">-->
                                <!--<label class="am-radio-inline">-->
                                    <!--<input type="radio" name="commentType" value="" checked>转发评论-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="am-form-group">
                            <label class="am-u-sm-4 am-u-lg-2 am-form-label">转发类型</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <label class="am-radio-inline">
                                    <input id="forward" type="radio" name="forwardType" value="纯转发" checked>纯转发
                                </label>
                                <label class="am-radio-inline">
                                    <input id="commentForward" type="radio" name="forwardType" value="转发并评论给作者"><span>转发并评论给作者</span>
                                    <span class="tips priceTip forwardTip">(＊如选择“纯转发”将会只转发，不会有任何评论)</span>
                                </label>
                            </div>
                        </div>

                        <div class="am-form-group commentContent">
                            <label for="commentContent" class="am-u-sm-4 am-u-lg-2 am-form-label">评论内容</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <textarea id="commentContent" class="am-radius" rows="3" name="content" placeholder="评论内容(一行一条)"></textarea>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="taskRemark" class="am-u-sm-4 am-u-lg-2 am-form-label">备注</label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <textarea id="taskRemark" class="am-radius" rows="3" placeholder="备注信息,防止混淆" name="remark"></textarea>
                            </div>
                        </div>

                        <!--<div class="am-form-group">-->
                        <!--<label for="totalPrice" class="am-u-sm-4 am-u-lg-2 am-form-label">任务总价</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="totalPrice" class="am-radius am-input-sm" type="text" disabled>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="setSpeed" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>速度设置</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<select id="setSpeed" class="am-radius am-input-sm">-->
                        <!--<option value="">无要求 </option>-->
                        <!--<option value="">每秒 </option>-->
                        <!--<option value="">每分钟 </option>-->
                        <!--<option value="">每小时 </option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="likeNum" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>速度数量</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="likeNum" class="am-radius am-input-sm" type="text" placeholder="需要定期增加的数量">-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="planTime" class="am-u-sm-4 am-u-lg-2 am-form-label"><span class="tips">* </span>计划时间</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="planTime" class="am-radius am-input-sm" type="text" placeholder="首次开始任务的时间">-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="am-form-group">-->
                        <!--<label for="continuedTime" class="am-u-sm-4 am-u-lg-2 am-form-label">计划持续</label>-->
                        <!--<div class="am-u-sm-8 am-u-lg-10">-->
                        <!--<input id="continuedTime" class="am-radius am-input-sm" type="text" placeholder="任务持续的天数，以后每天在计划时间重复执行">-->
                        <!--</div>-->
                        <!--</div>-->



                        <div class="am-form-group">
                            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                <button type="submit" class="am-btn am-btn-primary am-radius" v-if="$wbforward.valid">提交任务</button>
                            </div>
                        </div>
                    </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

<script>
    $(function () {
        var commentContent = $('.commentContent');
        var forwardTip = $('.forwardTip');
        var commentTip = $('<span class="tips priceTip">(＊提示：目前评论较容易被屏蔽，建议您选择纯转发，选择评论被屏蔽不负责补发)</span>');
        $('#commentForward').click(function () {
            console.log($(this).prop('checked'));
            if ($(this).prop('checked')) {
                forwardTip.remove();
                commentContent.css('display', 'block');
                $(this).next().after(commentTip);
            }
        });

        $('#forward').click(function () {
            if ($(this).prop('checked')) {
                commentTip.remove();
                commentContent.css('display', 'none');
                $('#commentForward').next().after(forwardTip);
            }
        });
    });

    require('WBforwardAdd');
</script>

</body>
</html>

