

.forumTask-content{
  padding-top: 12px;
}

th{
  text-align: center;
}

.taskTypeLabel{
  padding: 7px 3px 0;
}

.taskTypeWrap{
  padding:0 30px 0 3px;
}

.search-title{
  overflow: hidden;
}

.forum-context{
  padding-top: 12px;
}

.text-break {
  color: #000;
  display: inline-block;
  max-width: 80px;
  cursor: pointer;
}

.operation{
  margin-bottom: 2px;
}