<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="handleTaskAll.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <div id="searchForm" class="am-form am-form-inline">
                    <div class="am-btn-group">
                        <button class="am-btn am-btn-secondary">任务类型</button>
                        <div class="am-dropdown" data-am-dropdown>
                            <button class="am-btn am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle>
                                <span class="am-icon-caret-down"></span>
                            </button>
                            <ul class="am-dropdown-content">
                                <li><a href="/task/all">所有任务</a></li>
                                <li><a href="/task/type?type=WXfans">微信粉丝</a></li>
                                <li><a href="/task/type?type=WXfriend">微信好友</a></li>
                                <li><a href="/task/type?type=WXvote">微信投票</a></li>
                                <li><a href="/task/type?type=WXcode">微信扫码</a></li>
                                <li><a href="/task/type?type=WXarticleShare">微信原文分享/收藏</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="/task/new/tasker/have/look" class="am-btn am-btn-warning am-radius" style="float: right;">新手必看</a>
                </div>

                <div class="am-scrollable-horizontal am-text-center forum-context">
                    <table class="am-table am-table-bordered am-table-radius am-text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>类型</th>
                            <th>标题</th>
                            <th>单价</th>
                            <th>剩余 / 总数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% for(var i = 0; i < orders.length; i++){ %>
                        <tr>
                            <td class="am-text-middle"><%= i + 1  %></td>
                            <td class="am-text-middle"><%= orders[i].smallTypeName %></td>
                            <td class="am-text-middle">
                                <%= orders[i].title %>
                            </td>
                            <td class="am-text-middle">
                                <% if(role == '管理员'){ %>
                                <%= orders[i].adminPerPrice %>
                                <% } %>

                                <% if(role == '顶级代理'){ %>
                                <%= orders[i].topPerPrice %>
                                <% } %>

                                <% if(role == '超级代理'){ %>
                                <%= orders[i].superPerPrice %>
                                <% } %>

                                <% if(role == '金牌代理'){ %>
                                <%= orders[i].goldPerPrice %>
                                <% } %>
                            </td>
                            <td class="am-text-middle">
                                <%= orders[i].num - (orders[i].taskNum ? orders[i].taskNum : 0) %> / <%= orders[i].num %>
                            </td>
                            <td class="am-text-middle">
                                <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                   href="/task/show?id=<%= orders[i]._id %>">接手任务</a>
                            </td>
                        </tr>
                        <% } %>

                        </tbody>
                    </table>

                    <input type="hidden" value="<%= pages %>" id="pages">
                    <div id="laypage"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>
<script src="/static/plugins/laydate/laydate.js"></script>

<script>
    require('handleTaskAll');
</script>
</body>
</html>