
.am-header-default{
  .tips{
    color: red;
    display: none;
  }
}

.header-dropdown-content{
  z-index: 99999!important;
}

.app-sub-header{
  background-color: #0E90D2;
  color: #fff;
  font-size: 1.3em;
}

.app-logout{
  border-top: 1px solid #BCBCBC;
}

