<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="addLowerUser.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/header/header.html?__inline">
    <link rel="import" href="../../components/menu/menu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div id="addLowerUser" class="am-panel am-panel-primary">
            <div class="am-panel-hd"><%= title %></div>
            <div class="am-panel-bd">

                <validator name="addLowerUser">
                <form class="am-form am-form-horizontal" method="post" action="/user/addLowerUser">
                    <div class="am-form-group">
                        <label for="username" class="am-u-sm-3 am-u-lg-2 am-form-label">
                            <span class="tips" v-if="$addLowerUser.username.required">* </span>账号
                        </label>
                        <div class="am-u-sm-9 am-u-lg-10">
                            <input id="username" class="am-radius am-input-sm" type="text" placeholder="请输入用户名" v-model="username"
                            v-validate:username="{required: true}" v-on:keyup="notRepeat" v-on:change="notRepeat" name="username">
                            <span class="tips" v-if="$addLowerUser.username.required">用户名不能为空!</span>
                            <span class="tips" v-if="!notrepeat">账户已经存在!</span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="password" class="am-u-sm-3 am-u-lg-2 am-form-label">
                            <span class="tips" v-if="$addLowerUser.password.required">* </span>密码
                        </label>
                        <div class="am-u-sm-9 am-u-lg-10">
                            <input id="password" class="am-radius am-input-sm" type="password" placeholder="请输入用户密码"
                            v-validate:password="{required: true}" name="password">
                            <span class="tips" v-if="$addLowerUser.password.required">密码不能为空!</span>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="userQQ" class="am-u-sm-3 am-u-lg-2 am-form-label">ＱＱ</label>
                        <div class="am-u-sm-9 am-u-lg-10">
                            <input id="userQQ" class="am-radius am-input-sm" type="text" placeholder="请输入用户QQ" name="QQ">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-u-lg-2 am-form-label">电话</label>
                        <div class="am-u-sm-9 am-u-lg-10">
                            <input id="user-phone" class="am-radius am-input-sm" type="text" placeholder="请输入用户电话" name="phone">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-remark" class="am-u-sm-3 am-u-lg-2 am-form-label">备注</label>
                        <div class="am-u-sm-9 am-u-lg-10">
                            <textarea id="user-remark" class="am-radius" rows="3" placeholder="添加用户备注" name="remark"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                            <button type="submit" class="am-btn am-btn-primary am-radius am-btn-sm"
                                    v-if="$addLowerUser.valid && notrepeat" @click="isYanshi">添加子用户</button>
                        </div>
                    </div>
                </form>
                </validator>

            </div>
        </div>

    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/plugins/layer/layer.js"></script>

<script>
    require('addLowerUser');
</script>

</body>
</html>