<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="./adminWXcodeWait.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd am-scrollable-horizontal">

                    <div id="openOrClose" class="am-form am-form-inline">
                        <input type="hidden" v-model="isOpen" value="<%= wxFansIsOpen %>">
                        <a class="am-btn am-btn-success am-radius am-btn-sm" @click="open" v-if="isOpen == 'no'">
                            开启
                        </a>
                        <a class="am-btn am-btn-success am-radius am-btn-sm" @click="close" v-if="isOpen == 'yes'">
                            关闭
                        </a>
                    </div>

                    <div class="am-scrollable-horizontal am-text-center list-content">
                        <table class="am-table am-table-bordered am-table-radius am-table-striped am-text-nowrap am-table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>用户</th>
                                <th>下单日期</th>
                                <th>二维码</th>
                                <th>数量/限速</th>
                                <th>关注后回复</th>
                                <th>价格</th>
                                <th>返利</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% for(var i = 0; i < orders.length; i++){ %>
                            <tr>
                                <td class="am-text-middle"><%= i + 1 %></td>
                                <td class="am-text-middle"><%= orders[i].user %></td>
                                <td class="am-text-middle"><%= orders[i].createTime %></td>
                                <td class="am-text-middle">
                                    <img src="<%= orders[i].photo %>" alt="二维码" title="二维码" width="80" height="80">
                                </td>
                                <td class="am-text-middle">
                                    数量: <%= orders[i].num %> <br/>
                                    限速: <%= orders[i].speed %>/分
                                </td>
                                <td class="am-text-middle">
                                    <input type="text" value="<%= orders[i].reply %>" style="width: 56px;"><br/>
                                    <a class="clipboard am-btn am-btn-primary am-radius am-btn-xs"
                                       title="<%= orders[i].reply %>"
                                       data-clipboard-text="<%= orders[i].reply %>">复制</a>
                                </td>
                                <td class="am-text-middle"><%= orders[i].totalPrice %></td>
                                <td class="am-text-middle">
                                    A: <%= orders[i].adminProfit %><br/>
                                    B: <%= orders[i].topProfit %><br/>
                                    C: <%= orders[i].superProfit %><br/>
                                </td>
                                <td class="am-text-middle">
                                    <a class="am-btn am-btn-primary am-radius am-btn-xs"
                                       href="/admin/order/complete?id=<%= orders[i]._id %>&url=<%= path %>">完成 </a>
                                    <a class="am-btn am-btn-primary am-radius am-btn-xs orderRefund"
                                       href="/admin/order/refund?id=<%= orders[i]._id %>&url=<%= path %>">拒绝</a>
                                </td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>

                        <input type="hidden" value="<%= pages %>" id="pages">
                        <div id="laypage"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->
<script src="/static/js/clipboard.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/laypage/laypage.js"></script>

<script>
    require('adminMenuContent');
    require('adminWXfriendWait');
</script>

</body>
</html>