<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%=title%></title>

    <link rel="import" href="../../components/head/head.html?__inline">

    <link rel="stylesheet" href="adminManageUserAdd.scss?__inline">
</head>
<body>

<div id="app">

    <link rel="import" href="../../components/adminHeader/adminHeader.html?__inline">
    <link rel="import" href="../../components/adminMenu/adminMenu.html?__inline">

    <div id="app-content" class="app-content am-g">

        <div class="am-hide-sm am-u-lg-2 am-u-md-3">
            <link rel="import" href="../../components/adminMenuContent/adminMenuContent.html?__inline">
        </div>

        <div id="addUser" class="am-u-lg-10 am-u-md-9">
            <div class="am-panel am-panel-primary">
                <div class="am-panel-hd"><%= title %></div>
                <div class="am-panel-bd">

                    <validator name="addUser">
                    <form class="am-form am-form-horizontal" method="post" action="/admin/manage/user/add">
                        <div class="am-form-group">
                            <label for="username" class="am-u-sm-4 am-u-lg-2 am-form-label">
                                <span class="tips" v-if="$addUser.username.required">* </span>
                                用户名
                            </label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input class="am-radius am-input-sm" type="text" id="username" name="username" v-model="username"
                                v-validate:username="{required: true}" v-on:keyup="notRepeat" v-on:change="notRepeat">
                                <span class="tips" v-if="$addUser.username.required">用户名不能为空!</span>
                                <span class="tips" v-if="!notrepeat">账户已经存在!</span>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="password" class="am-u-sm-4 am-u-lg-2 am-form-label">
                                <span class="tips" v-if="$addUser.password.required">* </span>
                                密码
                            </label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <input class="am-radius am-input-sm" type="password" id="password" name="password"
                                v-validate:password="{required: true}">
                                <span class="tips" v-if="$addUser.password.required">密码不能为空!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="role" class="am-u-sm-4 am-u-lg-2 am-form-label">
                                <span class="tips" v-if="$addUser.role.required">* </span>
                                等级
                            </label>
                            <div class="am-u-sm-8 am-u-lg-10">
                                <select id="role" class="am-radius am-input-sm" name="role"
                                v-validate:role="{required: true}">
                                    <option value="">-- 选择等级 --</option>
                                    <option value="管理员">管理员</option>
                                    <option value="顶级代理">顶级代理</option>
                                    <option value="超级代理">超级代理</option>
                                    <option value="金牌代理">金牌代理</option>
                                </select>
                                <span class="tips" v-if="$addUser.role.required">等级不能为空!</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-8 am-u-sm-offset-4 am-u-lg-10 am-u-lg-offset-2">
                                <button type="submit" class="am-btn am-btn-primary am-radius"
                                        v-if="$addUser.valid && notrepeat">确认添加</button>
                            </div>
                        </div>
                    </form>
                    </validator>

                </div>
            </div>
        </div>
    </div>

</div>

<link rel="import" href="../../components/foot/foot.html?__inline">

<!--import plugin-->

<script>
    require('adminMenuContent');
    require('adminManageUserAdd');
</script>


</body>
</html>