
th{
  text-align: center;
}


.title-text, .title-url{
  line-height: 11px;
}


.text-break {
  color: #000;
  display: inline-block;
  max-width: 120px;
  cursor: pointer;
}

.operation{
  margin-bottom: 2px;
}

.taskTypeLabel{
  padding: 7px 3px 0;
}

.search-title{
  overflow: hidden;
}

.user-content{
  padding-top: 12px;
}