
<link rel="stylesheet" href="searchTypeTitle.scss?__inline">

<div class="am-form am-form-inline">
    <div class="am-form-group am-form-group-sm search-title">
        <label for="taskType" class="am-u-sm-3 am-form-label taskTypeLabel">类型</label>
        <div class="am-u-sm-9 taskTypeWrap">
            <select id="taskType" class="am-form-field am-input-sm am-radius">
                <option value="">添加了</option>
                <option value="">添加了  xcv</option>
                <option value="">添加了</option>
                <option value="">添 o发的</option>
                <option value="">添加了</option>
            </select>
        </div>
    </div>

    <div class="am-form-group am-form-group-sm search-title">
        <label for="taskName" class="am-u-sm-3 am-form-label taskTypeLabel">地址</label>
        <div class="am-u-sm-9 taskTypeWrap">
            <input id="taskName" type="text" class="am-form-field am-input-sm am-radius" placeholder="可模糊搜索">
        </div>
    </div>

    <div class="am-form-group am-form-group-sm">
        <button class="am-btn am-btn-success am-radius am-btn-sm">
            <i class="am-icon-search"></i>
            搜索
        </button>
    </div>
</div>