.taskTypeLabel{
  padding: 7px 3px 0;
}

.search-title{
  overflow: hidden;
}

.WXfriend-content{
  padding-top: 12px;
}

th{
  text-align: center;
}

.text-break {
  color: #000;
  display: inline-block;
  max-width: 60px;
  cursor: pointer;
}


.operation{
  margin-bottom: 2px;
}